body 
{
    font-family: Roboto, serif; 
    text-align: center; 
    margin: 0; 
    background: #1F2937;
}

header
{
    background: white ;
    border-bottom: 1px solid white; 
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    padding: 8px;
    display: flex;
    justify-self: space-between;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
}

a 
{
  /* this removes the line under our links */
  text-decoration: none;
  color: white;
  padding: 8px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0; 
  gap: 16px;
}
